# Ambiente Virtual
venv/
.env

# Banco de Dados
*.db
*.sqlite3

# Compilação Python
__pycache__/
*.pyc

# Arquivos do PyInstaller (NOVO - Importante)
build/
dist/
*.spec

# Pastas de Mídia/Temporárias (Ignora o conteúdo, mas mantém a pasta se tiver .gitkeep)
os_pdfs/*
!os_pdfs/.gitkeep
temp_img/*
!temp_img/.gitkeep
relatorios/*
!relatorios/.gitkeep
assets/artes_finais/*
!assets/artes_finais/.gitkeep
assets/config/*