# Ignorar ambiente virtual
venv/
.env

# Ignorar banco de dados local
*.db
gestaopro_2026.db

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar arquivos gerados pelo sistema (IMPORTANTE)
os_pdfs/
temp_img/
assets/config/